$mainColor: #ff9900;
$subColor: #e32934;
@import "map";

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    margin: 0;

    .bgImg {
        width: 100%;
        height: 100%;
        background-image: url("./images/foodBg.png");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px;
        position: fixed;
        object-fit: cover;
        width: 100vw;
        opacity: 0.7;
        min-width: 768px;
    }

    main {
        position: relative;
        z-index: 2;
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // min-width: 768px;

        .intro {
            margin-top: 120px;
            .text {
                -webkit-text-stroke: 1px white;
                color: $mainColor;
                font-size: 48px;
                font-weight: bold;
                display: inline;
                vertical-align: middle;
                border-right: 0.05em solid $subColor;
                animation: cursor 0.2s ease infinite;
            }
        }

        .time {
            text-align: center;
            width: 400px;
            height: 30px;
            -webkit-text-stroke: 2px $mainColor;
            color: white;
            font-size: 98px;
            font-weight: 600;
            margin-top: 5%;
        }

        #gpt {
            width: 48px;
            margin-top: 100px;
            animation: spin 10s linear infinite;
        }

        .search {
            margin-top: 20px;

            .searchInput {
                background-color: white;
                border: 2px solid $mainColor;
                border-radius: 10px;
                width: 220px;
                padding: 5px 8px;
            }

            .searchButton {
                background-color: $mainColor;
                border: 1px solid white;
                border-radius: 10px;
                padding: 5px 8px;
                color: white;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .searchResult {
            display: none;
            width: 600px;
            background-color: $mainColor;
            color: white;
            padding: 8px 3px;
            border: 2px solid white;
            border-radius: 5px;
            margin-top: 10px;
            text-align: center;
        }
        .mapTitle {
            display: none;
            width: 600px;
            background-color: $subColor;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 5px 2px;
            margin-top: 8px;
            color: white;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
        }
        .map_wrap {
            display: none;
            margin-bottom: 5%;
            #map {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border: 1px solid $subColor;
            }
        }
        .nft {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            margin: 24px;

            img {
                width: 256px;
                height: 256px;
            }

            .nftHover {
                position: absolute;
                display: none;
                width: 256px;
                height: 256px;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.4);

                a {
                    color: white;
                }

                button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: -8px;
                    border-radius: 100px;
                    width: 24px;
                    height: 24px;
                    border: 0;
                    cursor: pointer;
                }
            }

            &:hover {
                .nftHover {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .nftView {
            position: fixed;
            top: 0;
            right: 0;
            margin: 24px;
            border: 1px solid $subColor;
            background-color: #e32934;
            color: white;
            padding: 3px 8px;
            font-weight: 600;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}
